*,
*::before,
*::after{
    box-sizing: border-box; 
}

*{
    background-color:  #C7DB9C;
    margin: 0;
    padding: 0;
    
   

}

h1 {
  color: #E50046;
  background-color: #FFF0BD;
  height: 100px;
  width: auto;
  padding: 40px;
  margin-bottom: 20px;
  text-align: center;  
}

ul{
    height: 0 auto;
    width: 400px;
    
    margin-left: 200px;
    
    padding: 20px;
    
    text-align: center;
    display: inline-block;
    
    
    border-style: groove;
    background-color: #FDAB9E;


}

li{
    background-color: #FFF0BD;
    padding: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    margin-left: 50px;
    
}
strong{
    background-color: #FFF0BD;
}
a {
    background-color: #FFF0BD;
    
}

h3{
    color: #E50046;
    margin: 50px;
}

p{
    margin: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    
    display: inline-block;
    

}
ol {
    display: inline-block;
    
}

.home {
    margin: 50px;
    text-align: center;
    font-size: x-large;
    background-color: #C7DB9C;
    padding: 20px;
    display: block;
    
}